body {
  background-color: #fafafa;
}

.main-container {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  overflow-y: scroll !important;
}

/*a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}*/
