body {
  background-color: #F3F3F3;
}

.main-container {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  overflow-y: scroll !important;
}

/*a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}*/

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#padded_dialog {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.no_left_indent {
  margin-left: 0px !important;
}
